discord.py
dnspython==2.0.0
PyNaCl==1.4.0
async-timeout==3.0.1
requests==2.25.0
asyncio==3.4.3
tenorpy==1.0.3
python-dateutil
asyncpraw
TenGiphPy
throwbin
translate 
google-trans-new
socid-extractor
jishaku
asyncdagpi
pornhub-api
spotifyscraper
beautifulsoup4
TwitterAPI
matplotlib
google-api-python-client
git+https://github.com/Gorialis/jishaku
aiosqlite
Pillow
fake-useragent


